<table class="data fullwidth collapsible">
    <thead>
    <tr>
        <th>
            <div class="field checkboxfield">
                <input type="checkbox" id="allAssetSources" class="checkbox checkbox-toggle" name="allAssetSources" value="all" data-selector="assetSource"> <label
                        for="allAssetSources">Name</label>
            </div>
        </th>
        <th>Handle</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody class="assetSources">
    {% for assetSource in assetSources %}
        <tr class="assetSource">
            <th scope="row" class="name">
                <input type="checkbox" id="assetSource{{ assetSource.id }}" class="checkbox" name="assetSource[]" value="{{ assetSource.id }}"> <label
                        for="assetSource{{ assetSource.id }}">{{ assetSource }}</label>
            </th>
            <td>
                <code>{{ assetSource.handle }}</code>
            </td>
            <td>
                {{ assetSource.type }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>