<table class="data fullwidth collapsible">
    <thead>
    <tr>
        <th>
            <div class="field checkboxfield">
                <input type="checkbox" id="allAssetVolumes" class="checkbox checkbox-toggle" name="allAssetVolumes" value="all" data-selector="assetVolume"> <label
                        for="allAssetVolumes">Name</label>
            </div>
        </th>
        <th>Handle</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody class="assetVolumes">
    {% for volume in assetVolumes %}
        <tr class="assetVolume">
            <th scope="row" class="name">
                <input type="checkbox" id="assetVolume{{ volume.id }}" class="checkbox" name="assetVolume[]" value="{{ volume.id }}"> <label
                        for="assetVolume{{ volume.id }}">{{ volume.name }}</label>
            </th>
            <td>
                <code>{{ volume.handle }}</code>
            </td>
            <td>
                {{ volume.displayName() }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>